:root {
  /* Colors */
  --primary-color: #3b141c;
  --white-color: #fff;
  /* Site Max-Width */
  --site-max-width: 1300px;
--black-color: #000;
--light-gray-color: #e5e5e5;
--border-color: #ccc;



}
  .nav {
    background: #FFA500 ;
    height: 100px;
    width: 100%;
    position: sticky;
    margin: 0px;
  }
  
  .logo {
    color: #333333 ;
    font-size: 33px;
    line-height: 80px;
    padding: 30px;
    font-weight: bold;
    text-transform: uppercase;

  }
  
  .nav ul {
    float: right;
    margin-right: 20px;
  /* padding: auto; */
    z-index: 999;
  }
  
  .nav ul li {
    display: inline-block;
    list-style: none;
    line-height: 90px;
    margin: 0 5px;
  }
  
  .nav ul li a {
    color: #333333;
    font-size: 17px;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;
  }
  
  
  /* .checkbtn #cancel, */
  .checkbtn .bars, .checkbtn .cancel {
    font-size: 30px;
    color: var(--white-color);
    float: right;
    margin: 25px;
    cursor: pointer;
  
    display: none;
  
    transition: all 0.2s ease;
  }
  
  .check {
    display: none;
  }
  /* search */
 
  .form {
    /* flex: 1; */
    height: 2.5rem;
    /* max-width: 90rem; */
    margin-right: auto;
    margin-left: 40%;
  }
  
  .form .input {
  
    /* width: 80%; */
    height: 100%;
    font-size: 1rem;
    padding: 0 1rem;
    left:0%;
    outline: none;
    color: var(--black-color);
    background: var(--white-color);
    border-radius: 3.1rem 0 0 3.1rem;
    border: 1px solid var(--border-color);
  }
  
  .form .input:focus {
    border-color: var(--primary-color);
  }
  
  .form .searchButton {
    height: 2.5rem;
    /* width: auto; */
    padding: 0 1.25rem;
    border-radius: 0 3.1rem 3.1rem 0;
    border: 1px solid var(--border-color);
    border-left: 0px;
  }
  
  /* category */
  .wrapper {
    padding: 0 1rem;
    overflow-x: hidden;
    width: 100%;
    margin-top: 5px;
    margin-left: 30%;
  }
  
  .wrapper .category-list {
    display: flex;
    overflow-x: auto;
    gap: 2%;
    padding: 0.75rem 0 0.7rem;
    scrollbar-width: none;
  }
  
  .list .button {
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.94rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    margin: 0.6rem;
    color: var(--black-color);
    padding: 0.4rem 0.75rem;
    background: var(--light-gray-color);
  }
  
  .list .button.active {
    color: var(--white-color);
    background: var(--black-color);
    pointer-events: none;
  }
  
  .list .button.active {
    filter: brightness(120%);
  }
  
  .list .button:not(.active):hover {
    background: var(--border-color);
  }
  @media only screen and (max-width: 980px) {
    .logo {
      padding-left: 40px;
    }
  .input{
    display: none;
  }
  .wrapper {
    margin-left: 10%;
  }
  .form .searchButton {
    height: 2.5rem;
    /* width: auto; */
    padding: 0 1.25rem;
    border-radius: 0 3.1rem 3.1rem 0;
    border: 0px solid white;
    background-color: var(--white-color);
    border-left: 0px;
  }
    .checkbtn .bars {
      display: block;
    }
  
    .nav ul {
      position: fixed;
      background: var(--primary-color);
      width: 100%;
      height: 90vh;
      text-align: center;
      /* top: 80px; */
  
      right: 100%;
      margin-right: 100px;
  
      transition: all 0.3s;
    }
  
    .nav ul li {
      display: block;
      margin: 40px 0;
    }
  
    .nav ul li a {
      font-size: 20px;
    }
  
    .check:checked ~ ul {
      right: 0;
    }
  
    .check:checked ~ label .bars {
      display: none;
    }
  
    .check:checked ~ label .cancel {
      display: block;
    }
  }
  @media only screen and (max-width: 1024px) {
    .wrapper {
      margin-left: 10%;
    }
  }
